<!DOCTYPE html>
<html lang="nl">
    <head>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ 'assets/css/styles.css' | relative_url }}">
        <link rel="icon" type="image/png" href="{{ 'assets/img/favicon.png' | relative_url }}">

        <link rel="stylesheet" href="https://use.typekit.net/agu3iqs.css">
        
    </head>
    <body>

    <main role="main">
        {{ content }}
    </main>

    </body>
</html>